<!-- customers.hbs -->
<h1>Plants Unlimited: <b style="color:Purple">Products</b></h1>
<a href="/">Homepage</a>
<p><b>Description: </b> This web page will enable an admin user to execute CRUD functions on the Products table for Plants Unlimited. 
    When executing CRUD functions we recommend providing as much detail as possible, though if some specific product 
    information isn't known it can be left out. Use the radio buttons to indicate if a field is being input and if it 
    is being left out leave the text or selection blank.
</p>
<p><strong>To Create a new Product please follow the instructions below:</strong>
    <ol>
        <li>Select "Create" as the action you would like to take.</li>
        <li>Provide the following information where applicable. A "*" represents the field is required to create a new product
            <ul>
                <li>productID*</li>
                <li>PromoID*</li>
                <li>ProductType*</li>
                <li>Description</li>
                <li>Price*</li>
                <li>QuantityInStock*</li>
            </ul>
        </li>
        <li>
            "Submit" the form once you've provided all of the relevant product information.
        </li>
    </ol>
</p>
<p><strong>To update an exising Product use the following instructions:</strong></p>
<p>
    <ol>
        <li>Please Select the "Update" action from the dropdown</li>
        <li>Input the ID of the product being updated</li>
        <li>Provide the fieldset with updated information</li>
        <li>"Submit" the form</li>
    </ol>
</p>
<p><strong>To Delete review the following:</strong></p>
<p>
    <ol>
        <li>Select "Delete" as the action you would like to take</li>
        <li>Provide the type of the product you wish to remove</li>
        <li>"Submit" the form</li>
    </ol>
</p>

<form>
    <label>What action would you like to take in the Product table: </label>
    <select name="crud" id="crud">
        <option value="create">Create</option>
        <option value="update">Update</option>
        <option value="delete">Delete</option>
    </select>
    
    <br>
    
    <label>Are you providing a Product ID? </label>
    <input type="radio" id="yes" name="include_prid" value="yes">
        <label for="include_prid">Yes</label>
    <input type="radio" id="no" name="include_prid" value="no">
       <label for="include_prid">No</label>
        
    <label for="prid">If yes, enter the productID: </label>
    <input type="text" id="prid" name="prid">

    <br>
    
    <label>Are you providing a Promo ID? </label>
    <input type="radio" id="yes" name="include_pid" value="yes">
        <label for="include_pid">Yes</label>
    <input type="radio" id="no" name="include_pid" value="no">
       <label for="include_pid">No</label>
        
    <label for="pid">If yes, enter the promoID: </label>
    <input type="text" id="pid" name="pid">
    
    <br>

    <label>What is the type of product: </label>
    <select name="type" id="type">
        <option value="unset">...</option>
        <option value="pregrown">Pre Grown</option>
        <option value="tool">Tool</option>
        <option value="seed">Seed</option>
    </select>
    
    <br>

    <label>What was the last time the customer purchased from Plants Unlimited: </label>
    <input type="date" id="lastPurchaseDate" name="lastPurchaseDate" min="2018-01-01" max="2055-12-31">

    <br>

    <label for="description">What is the description of the product: </label>
    <input type="text" id="description" name="description">
    
    <br>

    <label for="price">What is the price of the product: </label>
    <input type="number" id="price" name="price">
    
    <br>

    <label for="quantityInStock">What is the amount of this product that is in stock: </label>
    <input type="number" id="quantityInStock" name="quantityInStock">
    
    <br>

    <input type="submit"></input>
</form>

<p><b>Results: </b></p>
<table>
    <thead> 
<th>ProductsID</th>

<th>PromoID</th>

<th>ProductType</th>

<th>Description</th>

<th>Price</th>

<th>QuantityInStock</th>
</thead>
<tbody>
        {{#each products}} 
        <tr> 
            <td>{{productID}}</td> 
            <td>{{promoID}}</td> 
            <td>{{productType}}</td> 
            <td>{{description}}</td>
            <td>{{price}}</td>
            <td>{{quantityInStock}}</td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
      