<!-- customers.hbs -->
<h1>Plants Unlimited: <b style="color:green">Sales</b></h1>
<li><a href="/">Homepage</a></li>
<p><b>Description: </b> This web page will enable an admin user to execute CRUD functions on the Sales table for Plants Unlimited. 
    When executing CRUD functions we recommend providing as much detail as possible, though if some specific sales 
    information isn't known it can be left out. Use the radio buttons to indicate if a field is being input and if it 
    is being left out leave the text or selection blank.
</p>
<p><strong>To Create a new sale please  provide the following information:</strong>
<ul><li>OrderID</li>
<li>CustomerID</li>
<li>saleDate</li>
<li>OrderFulFilled</li>
<li>OrderFulFilledDate</li>
<li>Date</li>
<li>totalPrice</li>
</ul>
</p>
<p><strong>To update the exising Sale provide:</strong></p>
<p>Please Select the Update button and provided the correct fieldset with updated information<p>
<p><strong>To Delete:</strong></p>
<p><li>Please Select the Delete button cliked Yes to provide an OrderID and provide the OrderID number</p>
<form>
    <label>What action would you like to take in the Sales table: </label>
    <select name="crud" id="crud">
        <option value="create">Create</option>
        <option value="read">Read</option>
        <option value="update">Update</option>
        <option value="delete">Delete</option>
    </select>
    
    <br>
    
    <label>Are you providing a Order ID? </label>
    <input type="radio" id="yes" name="include_oid" value="yes">
        <label for="include_oid">Yes</label>
    <input type="radio" id="no" name="include_0id" value="no">
       <label for="include_oid">No</label>
        
    <label for="orderID">If yes, enter the orderID: </label>
    <input type="text" id="orderID" name="orderID">
    
    <br>

    <label>Are you providing a Customer ID? </label>
    <input type="radio" id="yes" name="include_cid" value="yes">
        <label for="include_cid">Yes</label>
    <input type="radio" id="no" name="include_cid" value="no">
       <label for="include_cid">No</label>
        
    <label for="customerID">If yes, enter the customerID: </label>
    <input type="text" id="customerID" name="customerID">
    
    <br>

    <label>What was the day associated with the sale: </label>
    <input type="date" id="saleDate" name="saleDate" min="2018-01-01" max="2055-12-31">

    <br>

    <label>What is the status of the order: </label>
    <select name="orderFulfilled" id="orderFulfilled">
        <option value="-1">...</option>
        <option value="1">Fulfilled</option>
        <option value="0">Unfulfilled</option>
    </select>

    <br>

    <label>If fulfilled what was the day the order was fulfilled: </label>
    <input type="date" id="orderFulfilledDate" name="orderFulfilledDate" min="2018-01-01" max="2055-12-31">

    <br>

    <label for="totalPrice">What is the total cost of the sale: </label>
    <input type="number" min="0" step="0.01" id="totalPrice" name="totalPrice">

    <br>
     <input type="submit"></input>
    <p></p>

<p><b>Results: </b></p>
<p></p>
<table>
    <thead> 
<th>OrderID</th>

<th>CustomerID</th>

<th>SalesDate</th>

<th>OrderFulFilled</th>

<th>OrderFulFilledDate</th>

<th>TotlaPrice</th>
</thead>
<tbody>
        {{#each sales}} 
        <tr> 
            <td>{{this.orderID}}</td> 
            <td>{{this.customerID}}</td> 
            <td>{{this.saleDate}}</td> 
            <td>{{this.orderFulfilled}}</td>
            <td>{{this.orderFulfilledDate}}</td>
            <td>{{this.totalPrice}}</td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 